* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px 40px 1fr;
}

.header {
  position: relative;
  /* background-color: #f6f4f0; */
  background-color: rgb(235, 230, 220);
  display: grid;
  grid-template-columns: 170px 1fr 250px;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.overflow-container {
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}

.footer {
  background-color: white;
  border: 1px solid black;
}

.login-portal {
  position: absolute;
  z-index: 10;
  top: 80px;
  right: 10px;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  justify-content: center;
  align-content: center;
}

.nav-bar a {
  display: flex;
  justify-content: center;
}

.hero-image-carousel {
  max-height: 100vh;
}

.hero-image-carousel img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 657px;
}

.new-in-section,
.trending-section {
  text-align: center;
  justify-items: center;
  padding: 20px;
}

.new-in-carousel-container,
.trending-carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 20px 40px;
  overflow: hidden;
}

.new-in-carousel,
.trending-carousel {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  height: 400px;
}

.new-in-carousel-item,
.trending-carousel-item {
  width: 300px; 
  flex-shrink: 0 0 auto;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f4f4f4; 
}
.carousel-button {
  position: absolute;
  z-index: 10;
  height: 100%;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}
