* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  height: 100vh; 
  display: grid;
  grid-template-rows: 70px 40px 1fr;
}

.header {
  position: relative;
  /* background-color: #f6f4f0; */
  background-color: rgb(235, 230, 220);
  display: grid;
  grid-template-columns: 170px 1fr 250px;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.overflow-container {
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
}

.footer {
  background-color: white;
  border: 1px solid black;
}


.login-portal {
  position: absolute;
  z-index: 10;
  top: 80px;
  right: 10px;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  justify-content: center;
  align-content: center;
}

.nav-bar a{
  display: flex;
  justify-content: center;
}


.hero-image-carousel {
  max-height: 100vh;
}


.hero-image-carousel img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 657px;
}



.new-in-section, .trending-section {
  text-align: center;
  justify-items: center;
  padding: 20px;
}

.new-in-carousel-container {
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 1400px;
  gap: 20px;
  padding: 20px 40px;
}

.new-in-carousel {
  display: flex;
  gap: 20px;

}

.new-in-item, .trending-item {
  border: 1px solid black;
  padding: 20px;
  width: 300px;
}
.carousel-left-button {
  position: absolute;
  z-index: 1;
  left: 0px;
}

.carousel-right-button {
  position: absolute;
  z-index: 10;
  right: 0px;
}


/* .new-in-products-carousel, .trending-products-carousel {
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 100px));
  gap: 20px;  
  padding: 20px;
} */


