* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  height: 100vh; 
  display: grid;
  grid-template-rows: 80px 1fr;
}

.header {
  position: relative;
  background-color: white;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 80px 60px 1fr 290px;
  justify-items: start;
  align-items: center;
}

.overflow-container {
  background-color: white;
  border: 1px solid black;
  overflow: scroll;
  overflow-x: hidden;
}

.footer {
  background-color: white;
  border: 1px solid black;
}

.image-carousel {
  background-color: cadetblue;
  height: 100vh;
}

.login-portal {
  position: absolute;
  z-index: 10;
  top: 80px;
  right: 10px;
}